[user]
	name = Liang Jiang
	email = jal@mail.ustc.edu.cn
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	; st = status -uno --column
  st = status
	co = checkout
	br = branch
	mg = merge
	ci = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	relg = reflog --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	re = reset
[push]
	default = matching
[pull]
	default = matching
